In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
golf=pd.read_excel("/content/drive/MyDrive/golf.xlsx")
golf.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

    Outlook Temperature Humidity  Windy Play Golf
0     Rainy         Hot     High  False        No
1     Rainy         Hot     High   True        No
2  Overcast         Hot     High  False       Yes
3     Sunny        Mild     High  False       Yes
4     Sunny        Cool   Normal  False       Yes

In [ ]:
golf=golf.rename(columns={"Play Golf":"Playgolf"})

In [ ]:
y=golf.Playgolf
x=golf.drop("Playgolf",axis=1)

In [ ]:
print(x)

     Outlook Temperature Humidity  Windy
0      Rainy         Hot     High  False
1      Rainy         Hot     High   True
2   Overcast         Hot     High  False
3      Sunny        Mild     High  False
4      Sunny        Cool   Normal  False
5      Sunny        Cool   Normal   True
6   Overcast        Cool   Normal   True
7      Rainy        Mild     High  False
8      Rainy        Cool   Normal  False
9      Sunny        Mild   Normal  False
10     Rainy        Mild   Normal   True
11  Overcast        Mild     High   True
12  Overcast         Hot   Normal  False
13     Sunny        Mild     High   True

In [ ]:
x.Outlook=x.Outlook.replace({"Rainy":0,"Sunny":1,"Overcast":2})
x.Temperature=x.Temperature.replace({"Hot":0,"Mild":1,"Cool":2})
x.Humidity=x.Humidity.replace({"High":0,"Normal":1})

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
ohe = OneHotEncoder()
x3 = pd.DataFrame(ohe.fit_transform(x[["Windy"]]).toarray())
x_new=pd.concat([x,x3],axis=1)
x_new

    Outlook  Temperature  Humidity  Windy    0    1
0         0            0         0  False  1.0  0.0
1         0            0         0   True  0.0  1.0
2         2            0         0  False  1.0  0.0
3         1            1         0  False  1.0  0.0
4         1            2         1  False  1.0  0.0
5         1            2         1   True  0.0  1.0
6         2            2         1   True  0.0  1.0
7         0            1         0  False  1.0  0.0
8         0            2         1  False  1.0  0.0
9         1            1         1  False  1.0  0.0
10        0            1         1   True  0.0  1.0
11        2            1         0   True  0.0  1.0
12        2            0         1  False  1.0  0.0
13        1            1         0   True  0.0  1.0

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_new, y, test_size=0.4, random_state=1)

In [ ]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

GaussianNB()

In [ ]:
y_pred = gnb.predict(X_test)
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 66.66666666666666

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [ ]:
predictions = gnb.predict_proba(X_test)
print(predictions)

[[0.05624799 0.94375201]
 [0.15069199 0.84930801]
 [0.22898833 0.77101167]
 [0.00295855 0.99704145]
 [0.97351022 0.02648978]
 [0.00376713 0.99623287]]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,